.mat-tree-node {
  overflow: visible;
  cursor: move;
}

.drop-above {
  border-top: 10px solid #2196F3;
  margin-top: -10px;
}

.drop-below {
  border-bottom: 10px solid #2196F3;
  margin-bottom: -10px;
}

.drop-center {
  background-color: darkgray;
}

.drag-start {
    background-color: #1565c0;
    color:honeydew;
}

.mat-tree-node {
  min-height: auto;
}

.img-size {
  height: 16px;
  width: 16px;
}

.select-node {
  background-color: yellow;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

