<div class="flex flex-row m-3">
  <div class="mr-3">
    <button mat-raised-button color="primary" (click)="openCreateDialog(currentSelectNode!)"
      [disabled]="!currentSelectNode">ADD NEW CHILD NODE</button>
  </div>
  <div class="mr-3">
    <button mat-raised-button color="primary" (click)="openEditDialog(currentSelectNode!)"
      [disabled]="!currentSelectNode">EDIT NODE</button>
  </div>
  <div class="mr-3">
    <button mat-raised-button color="primary" (click)="deleteItem(currentSelectNode!)"
      [disabled]="!currentSelectNode">DELETE NODE</button>
  </div>
  <div class="mr-3">
    <button mat-raised-button color="primary" (click)="copyItem(currentSelectNode!)"
      [disabled]="!currentSelectNode">COPY</button>
  </div>
  <div class="mr-3">
    <button mat-raised-button color="primary" (click)="cutItem(currentSelectNode!)"
      [disabled]="!currentSelectNode">CUT</button>
  </div>
  <div class="mr-3">
    <button mat-raised-button color="primary" (click)="pasteItem(currentSelectNode!)"
      [disabled]="!(currentTempTree && currentSelectNode)">PASTE</button>
  </div>
</div>
<div class="w-screen flex flex-row">
  <div class="w-1/2">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding
        (dragover)="handleDragOver($event, node);" (dragend)="handleDragEnd($event, node);"
        (drop)="handleDrop($event, node);" [ngClass]="getStyle(node)">
        <button mat-icon-button disabled></button>
        <span class="checklist-leaf-node flex flex-row" [class.select-node]="currentSelectNode?.guid === node.guid"
          draggable="true" (dragstart)="handleDragStart($event, node);">
          <img class="mr-1 img-size" [src]="getImageByType(node.type)">
          <span class="nodeContent" [ngClass]="{'drag-start': dragNode === node}" (click)="selectNode(node)"
            (dblclick)="openEditDialog(node)">
            {{node.name}}
          </span>
        </span>
      </mat-tree-node>

      <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding
        (dragover)="handleDragOver($event, node);" (dragend)="handleDragEnd($event, node);"
        (drop)="handleDrop($event, node);" [ngClass]="getStyle(node)">
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="material-icons mat-icon-no-color">
            {{treeControl.isExpanded(node) ? 'indeterminate_check_box' : 'add_box'}}
          </mat-icon>
        </button>
        <span class="checklist-leaf-node flex flex-row" [class.select-node]="currentSelectNode?.guid === node.guid"
          draggable="true" (dragstart)="handleDragStart($event, node);">
          <img class="mr-1 img-size" [src]="getImageByType(node.type)">
          <span class="nodeContent" [ngClass]="{'drag-start': dragNode === node}" (click)="selectNode(node)"
            (dblclick)="openEditDialog(node)">
            {{node.name}}
          </span>
        </span>
      </mat-tree-node>
    </mat-tree>
  </div>
  <div *ngIf="currentSelectNode" class="w-1/2">
    <table>
      <thead>
        <tr>
          <th scope="col" class="text-nowrap">
            New Property
          </th>
          <th scope="col" class="text-nowrap">
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="New Property" class="text-nowrap">
            GUID
          </td>
          <td data-title="">{{currentSelectNode.guid}}</td>
        </tr>
        <tr>
          <td data-title="New Property" class="text-nowrap">
            NAME
          </td>
          <td data-title="">{{currentSelectNode.name}}</td>
        </tr>
        <tr>
          <td data-title="New Property" class="text-nowrap">
            Service Type
          </td>
          <td data-title="">{{currentSelectNode.type}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
